language: r


sudo: required

cran: http://cran.rstudio.com

r_github_packages:
  - jimhester/covr
after_success:
  - Rscript -e 'covr::codecov()'

r_build_args: --no-build-vignettes
r_check_args: --no-vignettes --no-build-vignettes
warnings_are_errors: true

notifications:
  email:
    on_success: change
    on_failure: change

