language: r
sudo: required
warnings_are_errors: true

env:
 global:
   - CRAN: http://cran.rstudio.com

before_install: echo "options(repos = c(CRAN='http://cran.rstudio.com'))" > ~/.Rprofile

notifications:
  email:
    on_success: change
    on_failure: change
