export("GaDateRange<-")
export("GaDimensions<-")
export("GaEndDate<-")
export("GaFilter<-")
export("GaMaxResults<-")
export("GaMetrics<-")
export("GaOperand<-")
export("GaOperator<-")
export("GaProfileId<-")
export("GaSegment<-")
export("GaSortBy<-")
export("GaStartDate<-")
export("GaVar<-")
export(GaAnd)
export(GaDateRange)
export(GaDimOperator)
export(GaDimensions)
export(GaEndDate)
export(GaExpr)
export(GaFilter)
export(GaIsRegEx)
export(GaMaxResults)
export(GaMetOperator)
export(GaMetrics)
export(GaNot)
export(GaOperand)
export(GaOperator)
export(GaOr)
export(GaProfileId)
export(GaSegment)
export(GaSortBy)
export(GaStartDate)
export(GaVar)
export(GetGaUrl)
import(RJSONIO)
import(httr)
import(methods)
import(plyr)
