exportMethods("GaDateRange<-")
exportMethods("GaDimensions<-")
exportMethods("GaEndDate<-")
exportMethods("GaFilter<-")
exportMethods("GaMaxResults<-")
exportMethods("GaMetrics<-")
exportMethods("GaOperand<-")
exportMethods("GaOperator<-")
exportMethods("GaProfileId<-")
exportMethods("GaSegment<-")
exportMethods("GaSortBy<-")
exportMethods("GaStartDate<-")
exportMethods("GaVar<-")
exportMethods(GaAnd)
exportMethods(GaDateRange)
exportMethods(GaDimOperator)
exportMethods(GaDimensions)
exportMethods(GaEndDate)
exportMethods(GaExpr)
exportMethods(GaFilter)
exportMethods(GaIsRegEx)
exportMethods(GaMaxResults)
exportMethods(GaMetOperator)
exportMethods(GaMetrics)
exportMethods(GaNot)
exportMethods(GaOperand)
exportMethods(GaOperator)
exportMethods(GaOr)
exportMethods(GaProfileId)
exportMethods(GaSegment)
exportMethods(GaSortBy)
exportMethods(GaStartDate)
exportMethods(GaVar)
exportMethods(GetGaUrl)
import(RJSONIO)
import(httr)
import(methods)
import(plyr)
